<h2>Movies > <%= @movie.title %></h2>

<p><%= @movie.overview %></p>
<img src="https://tmdb.lewagon.com/movie/top_rated<%= @movie.poster_url %>" alt="<%= @movie.title %>">
<p><%= @movie.rating %></p>
