<div class="movie-body">
<h2><%= @movie.title %></h2>

<div class="overview-body">
  <img src="https://image.tmdb.org/t/p/original/<%= @movie.poster_url %>" alt="<%= @movie.title %>">
  <p><%= @movie.overview %></p>
</div>
<p class="rating">Rating: <%= @movie.rating %></p>

<div class="rating">
  <%= simple_form_for [@movie, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :list %>
    <%= f.button :submit, value: "Bookmark it!"%>
  <% end %>
</div>


<% @bookmarks.each do |bookmark| %>
  <div class="bookmark"><%= bookmark.comment %> | <%= link_to "Delete", delete_path, method: :delete, data: { confirm: "Are you sure?" } %></div>
<% end %>
</div>
